{% load i18n %}
<div id="rocaptcha_div"></div>
<script type="text/javascript" src="http://{{api_server}}/api/js/?key={{public_key}}{{params}}"></script>
<script type="text/javascript">
	RoCaptcha.init("rocaptcha_div");
</script>


